$black: #000000;
$white: #ffffff;

$gray: #F1F1FB;
$onyx: #232126;

$slate: #253A52;

$blue: #39676B;
$green: #60A765;
$yellow: #eba637;
$orange: #E47D3F;
$red: #E26246;

$palette: $blue, $green, $yellow, $orange, $red;

$paletteJSON: '';
@each $color in $palette {
	$paletteJSON: $paletteJSON + '"#{$color}",';
}
$paletteJSON: #{"[" + str-slice($paletteJSON, 1, -2) + "]"};

$paletteFull: $slate, $blue, $green, $yellow, $orange, $red;

$paletteFullJSON: '';
@each $color in $paletteFull {
	$paletteFullJSON: $paletteFullJSON + '"#{$color}",';
}
$paletteFullJSON: #{"[" + str-slice($paletteFullJSON, 1, -2) + "]"};

$xs: 450px;
$sm: 650px;
$md: 850px;
$lg: 1100px;
$xl: 1400px;


$headings: 'Fira Code';

$h_weight: 400;
$h_size: 1.2rem;
$body: 'Open Sans Condensed';
$b_weight: 300;
$b_size: 1rem;
