$black: #000000;
$white: #ffffff;

$purple: #7b3dba;
$red: #ed4939;
$orange: #f87117;
$teal: #1cbc9d;
$green: #adc607;
$sky: #016FB9;
$yellow: #f4c10d;

$gray: #F1F1FB;
$onyx: #232126;


$xs: 450px;
$sm: 650px;
$md: 850px;
$lg: 1100px;
$xl: 1400px;


$headings: 'Fira Code';

$h_weight: 400;
$h_size: 1.2rem;
$body: 'Raleway';
$b_weight: 400;
$b_size: 1rem;